{erl_opts, [no_debug_info]}.
%% Dependencies
{deps, [
  {benchee, {elixir, "benchee", "0.8.0"}}
  %% {benchee, {git, "git://github.com/PragTob/benchee.git"}}
]}.

{plugins, [
    { rebar3_elixir_compile, ".*", {git, "https://github.com/barrel-db/rebar3_elixir_compile.git", {branch, "master"}}}
]}.

{provider_hooks, [
  {pre, [{compile, {ex, compile}}]},
  {pre, [{release, {ex, compile}}]},
  {pre, [{escriptize, {ex, compile}}]}
]}.

{elixir_opts,
  [
    {env, dev}
  ]
}.

{escript_incl_apps,
 [benchee_erlang, elixir, deep_merge, logger]}.
{escript_main_app, benchee_erlang}.
{escript_name, benchee_erlang}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
