{erl_opts, [no_debug_info]}.

{deps, [
  {benchee, {git, "https://github.com/bencheeorg/benchee", {branch, "main"}}},
  {deep_merge, {git, "https://github.com/PragTob/deep_merge", {branch, "main"}}},
  {statistex, "1.0.0"}
]}.

{plugins, [
	  {rebar_mix, {git, "https://github.com/Supersonido/rebar_mix", {branch, "master"}}}

]}.

{provider_hooks, [
  {post, [{compile, {mix, consolidate_protocols}}]}
]}.


{escript_incl_apps,
 [benchee_erlang]}.
{escript_main_app, benchee_erlang}.
{escript_name, benchee_erlang}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
